*{
    margin: 0%;
    padding: 0%;
}
body{
    width: 100%;
    height: auto;
}
.logo{
    height: 10%;
}
#section{
    text-align: center;
    left: 25%;
    align-content: center;
}
h1{
    font-size: 3rem;
}
img{
    width: 20%;
    height: 20%;
}
li{
    width: 30%;
    height: 5%;
    display: flex;
    margin-left: 35%;
}
ol{
    margin-left: 12%;
}
button{
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background: linear-gradient(to bottom, #010080 100%);
	background-color: #010080;
	border-radius: 6px;
	border: 1px solid #fff;
	display: inline-block;
	cursor: pointer;
	color: #000000;
	font-family: Arial;
	font-size: 10px;
	font-weight: bold;
	text-shadow: 0px -1px 0px #000000;
    padding: 1% 2%;
    margin: 5%;
}
button:hover {
	background: linear-gradient(to bottom, #4169e1 100%);
	background-color: #4169e1;
}
button:active {
	position: relative;
	top: 1px;
}
h3{
    width: 50%;
    margin-left: 25%;
}